.user-container {
    animation: resize-h 0.5s 1.5s ease-in-out forwards;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #0D0D0D;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    transition: height 0.5s ease-in-out;
    z-index: 1;
}

.user-container.active {
    height: 80px;
}

.user-container  .btn-create,
.user-container .user-info {
    display: none;
}

.user-container.active  .btn-create,
.user-container.active .user-info {
    display: flex;
}

.welcome-msg {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.welcome-msg.active {
    opacity: 1;
}

#svg-temp {
    display: none;
}

.btn-logout svg {
    width: auto;
    height: 20px;
}

.closeSideBar {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    cursor: pointer;
}

.btn-create svg {
    margin-right: 15px;
    width: auto;
    height: 30px;
}

.btn-create {
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.btn-create.active {
    opacity: 0;
    pointer-events: none;
}

.task-card svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
    height: auto;
}

.closeSideBar path,
.task-card svg path,
.btn-create svg path,
.btn-logout svg path {
    fill: #fff;
}

.user-name {
    color: #fff;
    padding-right: 25px;
}

.user-container button{
    width: auto;
    background-color: transparent;
    padding: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.task-container {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
    width: 100%;
}

.task-container.active .task-crud {
    transform: translateX(0%);
    pointer-events: auto;
}

.task-container.active  .task-grid {
    left: 400px;
    width: calc(100% - 400px);
}

.task-crud {
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: #0D0D0D;
    position: absolute;
    padding: 20px 15px 0;
    left: 0;
    top: 0;
    border-top: solid 1px rgb(72, 72, 72);;
    border-right: solid 1px rgb(72, 72, 72);;
    border-bottom: solid 1px rgb(72, 72, 72);;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.task-crud.edit .task-edit-h1,
.task-crud.edit .admin-track-time,
.task-crud.edit #btnUpdate,
.task-crud.edit #btnDelete {
    display: block;
}

.task-edit-h1,
.admin-track-time,
.task-crud.edit .task-create-h1,
.task-crud.edit #btnCreate,
#btnUpdate,
#btnDelete {
    display: none;
}

.time-tracker {
    display: flex;
    justify-content: space-around;
}

.time-tracker input {
    width: calc(100% - 60px);
}

.time-tracker button {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 0;
    height: 36px;
}

.task-crud button {
    margin-top: 10px;
}

.task-crud ul {
    color: #fff;
    margin: 5px 0 10px;
    padding-left: 15px;
}

.task-crud span {
    color: #fff;
}

.task-crud h1 {
    color: #fff;
    margin: 15px 0 0;
}

.task-crud p {
    color: #fff;
    font-size: 15px;
}

.task-extra-margin {
    margin-top: 10px;
}

.task-grid {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: all 0.5s ease-in-out;
}

.task-col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3);
    border-right: solid 1px rgb(72, 72, 72);
    height: 100%;
    padding: 0 25px;
}

.task-col h1 {
    color: #fff;
    font-size: 22px;
    padding-bottom: 0;
}

.task-col h4 {
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.task-card {
    display: block;
    width: 100%;
    background-color: #0D0D0D; 
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.task-card h1 {
    font-size: 22px;
    margin: 0;
    padding: 10px 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.due-date {
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.due-date span {
    display: block;
}

.task-line {
    display: block;
    background-color: #fff;
    height: 4px;
    width: 100%;
}

.task-todo h1 {
    color: #F2D022;
}

.task-ongoing h1 {
    color: #BDE038;
}

.task-complete h1 {
    color: #3eb9bb;
}

.task-todo svg:hover path {
    fill: #F2D022;
}

.task-ongoing svg:hover path {
    fill: #BDE038;
}

.task-complete svg:hover path {
    fill: #3eb9bb;
}

.task-todo .task-line {
    background-color: #F2D022;
}

.task-ongoing .task-line {
    background-color: #BDE038;
}

.task-complete .task-line {
    background-color: #3eb9bb;
}

.task-user-board h1,
.task-user-board strong label {
    color: #F2D022;
}