* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    position: relative;
}

a {
    color: #595959;
    text-decoration: unset;
}

input {
    border: unset;
    outline: unset;
    border-radius: 5px;
    padding: 10px 8px;
    margin: 10px 0;
    width: 100%;
}

button {
    border: unset;
    outline: unset;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-purple {
    color: #fff;
    background-color: #532DA6;
}

.btn-purple:hover {
    background-color: #361973;
}
