* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    position: relative;
}

a {
    color: #595959;
    text-decoration: unset;
}

textarea,
input {
    border: unset;
    outline: unset;
    border-radius: 5px;
    padding: 10px 8px;
    margin: 10px 0;
    width: 100%;
    resize: vertical;
}


button {
    border: unset;
    outline: unset;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

label {
    color: #fff;
}

.btn-purple {
    color: #fff;
    background-color: #532DA6;
}

.btn-purple:hover {
    background-color: #361973;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 0 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb; 
  }