* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    position: relative;
}

a {
    color: #595959;
    text-decoration: unset;
}

textarea,
input {
    border: unset;
    outline: unset;
    border-radius: 5px;
    padding: 10px 8px;
    margin: 10px 0;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    border: unset;
    outline: unset;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

label {
    color: #fff;
    display: block;
}

select {
    margin-top: 10px;
    border: unset;
    outline: unset;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
}

.btn-purple {
    color: #fff;
    background-color: #532DA6;
}

.btn-purple:hover {
    background-color: #361973;
}

.btn-green {
    color: #fff;
    background-color: #008f29;
}

.btn-green:hover {
    background-color: rgb(0, 113, 47);
}

.btn-red {
    color: #fff;
    background-color: #a20404;
}

.btn-red:hover {
    background-color: #8b0000;
}

.login-user-type {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.login-user-type span {
    transition: font-size 0.2s ease-in-out;
}

.login-user-type.active span:first-child,
.login-user-type span {
    font-size: 14px !important;
}

.login-user-type.active span:last-child,
.login-user-type span:first-child {
    font-size: 20px !important;
}

.login-user-toggle {
    border: solid 1px #595959;
    border-radius: 40px;
    width: 60px;
    height: 30px;
}

.login-user-type.active .login-user-toggle span {
    transform: translateX(30px);
}

.login-user-toggle span {
    display: block;
    background-color: #532DA6;
    height: 26px;
    width: 26px;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 100%;
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 0 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb; 
  }